@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Font Variables Variables
$mont-font: "Montserrat", sans-serif;
$poppin-font: "Poppins", sans-serif;

//Color Variables
$primary-color: #1b8366;
$secondary-color: #e9ae0b;
$grey-text: #817c7c;
$bg-color-white-bluish: #f5fafe;

@function set-text-color($color) {
  @if ((lightness($color) > 50)) {
    @return #000;
  } @else {
    @return #fff;
  }
}
