@media (max-width: 1440px) {
  #section {
    &-1 {
      .container-case {
        .container {
          .row {
            .col-12.col-md-6.text {
              h1 {
                font-size: 3rem;
                width: 100%;
              }
            }
            .col-12.col-md-6.images {
              img.position-man {
                height: 400px;
                right: -80px;
              }
            }
          }
        }
      }
    }
    &-3 {
      .container {
        h5 {
          font-size: 1rem;
        }
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
    &-5 {
      .wave {
        bottom: -110px;
      }
      .container {
        .row {
          .col-12.col-lg-6.text {
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #section {
    &-1 {
      .container-case {
        .container {
          .row {
            .col-12.col-md-6.text {
              p {
                font-size: 1rem;
              }
            }
            .col-12.col-md-6.images {
              img.position-man {
                height: 300px;
                right: -50px;
              }
            }
          }
        }
      }
    }
    &-2 {
      img {
        width: 250px;
      }
    }
    &-3 {
      .container {
        .container {
          width: 80vw;
        }
      }
    }
    &-4 {
      padding: 20px 0;
    }
    &-5 {
      padding: 0;
      .wave {
        width: 100%;
        top: 50%;
      }
      .container {
        .row {
          .col-12.col-lg-6 {
            padding: 50px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #section {
    &-1 {
      .container-case {
        .container {
          .row {
            .col-12.col-md-6.text {
              text-align: center;
            }
            .col-12.col-md-6.images {
              padding: 50px 30px 50px 30px;
              .position-man {
                display: none;
              }
              img.img-fluid {
                right: 0;
              }
            }
          }
        }
      }
    }
    &-2 {
      .container {
        .row {
          .col-12 {
            .text-box {
              margin: 0 auto 0 auto;
            }
          }
        }
      }
    }
    &-3 {
      .container {
        margin: 2rem 0;
      }
    }
    &-4 {
      .container {
        #timeline {
          ul {
            li {
              padding: 60px 0;
            }
            li::after {
              top: 85px;
            }
          }
        }
      }
    }

    &-5 {
      .wave {
        display: none;
      }
      .container {
        overflow: visible;
        .row {
          .col-12.col-lg-6:first-child {
            position: relative;
          }
          .col-12.col-lg-6:first-child:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 10px;
            left: 0;
            background: $primary-color;
          }
          .col-12.col-lg-6.text {
            text-align: center;
            p {
              text-align: start;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #section {
    &-1 {
      .container-case {
        .container {
          .row {
            .col-12.col-md-6.text {
              h1 {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
    &-4 {
      overflow: hidden;
      .container {
        #timeline {
          ul {
            li {
              margin: 0 auto 0 0;
              padding: 40px 0;
              div.item {
                width: 75vw;
              }
              div img.image {
                width: 75vw;
              }
            }
            li::after {
              top: 65px;
            }
            li:nth-child(odd) img.image,
            li:nth-child(even) img.image {
              position: relative;
              left: 40px;
            }
            li:nth-child(even) .item {
              left: 40px;
            }
            li:nth-child(even) .item .chip {
              margin-left: 0;
            }
            li:nth-child(even) .item h5 {
              text-align: start;
            }
          }
        }
      }
    }
    &-5 {
      .wave {
        display: none;
      }
      .container {
        .row {
          .col-12.col-lg-6.text {
            padding: 50px 30px 50px 30px;
          }
        }
      }
    }
  }
}
