@media (max-width: 1440px) {
  #section {
    &-3 {
      height: 100vh;
      .container {
        h5 {
          font-size: 1rem;
        }
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
  #section {
    &-3 {
      .container {
        margin: 2rem 0;
      }
      height: 100%;
    }
  }
}
