.lead-title {
  color: $primary-color;
  font-weight: 800;
  span {
    color: $secondary-color;
  }
}

.text-green {
  color: $primary-color;
}

//h5 Tags
.page-title {
  color: $primary-color;
  font-weight: 800;
}

//Buttons
.btn {
  &-primary {
    background: $primary-color;
    color: set-text-color($primary-color);
    border: none;
    font-weight: 600;
    transition: background 1s ease-in-out;
    &:hover {
      background: $primary-color;
      opacity: 0.9;
    }
  }
  &-secondary {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    border: none;
    font-weight: 600;
    transition: background 1s ease-in-out;
    &:hover {
      background: $secondary-color;
      opacity: 0.9;
    }
  }
}

//Backgrounds
.bg-blur {
  backdrop-filter: blur(5px);
  /* Ensure the navbar remains opaque */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
}
