@import "config";
@import "utilities";

body {
  font-family: $mont-font;
}

#navbar {
  .container .navbar-brand {
    color: $primary-color;
  }
}

#section {
  &-1 {
    height: 100%;
    padding: 50px 0;
    background: #fff;
    .container-case {
      background: $bg-color-white-bluish;
      width: 100%;
      padding: 5rem 0;

      .container {
        background: $bg-color-white-bluish;
        .row {
          .col-12.col-md-6.text {
            h1 {
              font-size: 4rem;
              font-weight: 700;
              width: 500px;
            }
            p {
              margin-top: 1.5rem;
              font-size: 1.2rem;
            }
          }
          .col-12.col-md-6.images {
            position: relative;
            img.img-fluid {
              position: relative;
            }
            img.position-man {
              height: 500px;
              position: absolute;
              right: -100px;
            }
          }
        }
      }
    }
  }
  &-2 {
    height: 100%;
    padding: 50px 0;
    background: $bg-color-white-bluish;

    img {
      width: 300px;
      height: auto;
    }
    .text-box {
      width: 400px;
      text-align: center;
      p {
        text-align: justify;
      }
    }
  }
  &-3 {
    height: 100%;
    padding: 50px 0;
    background: #fff;
    text-align: center;
    .container {
      .container {
        width: 50vw;
      }
    }
  }
  &-4 {
    height: 100%;
    padding: 50px 0;
    background: $bg-color-white-bluish;
    text-align: center;

    .container {
      #timeline {
        ul {
          padding: 50px 0 0 0;

          li {
            list-style: none;
            position: relative;
            width: 5px;
            margin: 0 auto;
            padding: 100px 0;
            background: #797979;

            div.item {
              position: relative;
              bottom: 0;
              width: 300px;
              padding: 1rem 1rem;
              text-align: justify;

              h5 {
                color: $primary-color;
              }

              div.chip {
                width: 100px;
                height: auto;
                padding: 7px 7px;
                border-radius: 50px;
                background: $primary-color;
                box-shadow: 0 0 4px $primary-color;
                text-align: center;
                font-weight: 800;
                color: set-text-color($primary-color);
                margin-bottom: 10px;
              }
            }
            div img.image {
              width: 300px;
            }
          }
          li::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 125px;
            width: 20px;
            height: 20px;
            background: $primary-color;
            border-radius: 50%;
            box-shadow: 0 0 4px $primary-color;
            transform: translateX(-50%);
          }

          li:first-child {
            border-radius: 10px 10px 0 0;
          }
          li:last-child {
            border-radius: 0 0 10px 10px;
          }

          li:nth-child(odd) .item,
          li:nth-child(odd) img.image {
            left: 40px;
          }

          li:nth-child(even) .item,
          li:nth-child(even) img.image {
            left: -343px;
          }

          li:nth-child(even) .item .chip {
            margin-left: auto;
          }

          li:nth-child(even) .item h5 {
            text-align: end;
          }

          li:nth-child(odd) img.image {
            position: absolute;
            top: 23%;
            left: -350px;
          }

          li:nth-child(even) img.image {
            position: absolute;
            top: 23%;
            left: 50px;
          }
        }
      }
    }
  }
  &-5 {
    height: 100%;
    padding: 50px 0;
    background: #fff;
    position: relative;
    overflow: hidden;

    .wave {
      position: absolute;
      width: 100%;
      bottom: -150px;
      left: 0;
      z-index: 1;
    }

    .container {
      position: relative;
      .row {
        .col-12.col-lg-6 {
          img {
            z-index: 0;
          }
        }
        .col-12.col-lg-6.text {
          position: relative;
          h5,
          h3 {
            text-align: center;
          }
          z-index: 2;
        }
      }
    }
  }
  &-6 {
    height: 100%;
    background: $bg-color-white-bluish;
    text-align: center;
    padding: 100px 0;
  }
}

// Footer
#main-footer {
  background: $primary-color;
  color: set-text-color($primary-color);
  .container {
    .row {
      .col-12.col-md-4 {
        padding: 3rem 2rem;
        div {
          a {
            text-decoration: none;
            font-size: 2rem;
            color: set-text-color($primary-color);
          }
        }
        input[type="email"] {
          width: 90%;
          padding: 0.5rem;
          margin-bottom: 1rem;
        }
        input[type="email"]:active {
          border: $secondary-color solid;
        }
        h3 {
          font-weight: 800;
          img {
            width: 50px;
            height: 50px;
          }
        }
        ul.list {
          list-style: none;
          padding: 0;
          li {
            padding: 0.5rem 0;
            border-bottom: #f4f4f4 dotted 1px;
            width: 90%;

            a {
              text-decoration: none;
              color: set-text-color($primary-color);
            }
            a:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

// // Page Animation
// #section {
//   &-1 {
//     img {
//       transform: translate(-200px);
//       animation: heading 2s forwards ease-in;
//     }s
//   }
// }

// @keyframes heading {
//   to {
//     transform: translateX(0);
//   }
// }

@import "media";
